.berita-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    background-color: #fff; /* Warna latar belakang putih */
  }

.berita-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .berita-box h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .berita-box p {
    color: #666;
    font-size: 14px;
  }
